<div id="particles-js">
  <div class="header">
      <h1>
        <img src="https://avatars.githubusercontent.com/u/94306598?s=400&u=75775d32d26bf65b1aa24bdad831d6cb56818601&v=4" alt="avatars.githubusercontent.com" width="300" height="300">
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        {% if site.email %}
        <a aria-label="Send email" href="mailto: daneshisajad60@gmail.com"><i class="icon fa fa-envelope"></i></a>
        {% endif %}
        {% if site.linkedin_username %}
        <a aria-label="My LinkedIn" target="_blank" href="linkedin.com/in/data777"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.github_username %}
        <a aria-label="My Github" target="_blank" href="github.com/daneshisajad"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        {% endif %}
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
